<div class="row justify-content-around">
  <div class="col-4">
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1584917865442-de89df76afd3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFnfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
        alt=""
      />
    </div>
  </div>
  <div class="col-4">
    One of two columns
  </div>
</div>
