img {
  display: block;
  width: 100%;
}
.col-4 {
  padding-top: 50px;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.wrapper-images {
  display: flex;
  margin: 0 -20px;
}
.image {
  width: 33.3333333%;
  padding: 0 20px;
}
.title {
  margin-bottom: 15px;
}

/* upload */
.form-params-upload{
  display: flex;
  flex-direction: column;
}

.form-input-params:not(:last-of-type){
  margin-bottom: 10px;
}
/* upload */